<div class="container">

  <app-frontpage [favourites]="favourites"></app-frontpage>

  <app-title-banner content="The Unforgettables" id="The_Unforgettables"></app-title-banner>
  
  <div *ngFor="let drink of drinks">
    <app-drink  
      *ngIf="drink.category === allCategories.UNFORGETTABLE"
      [drink] = drink>
    </app-drink>
  </div>
  
  
  <app-title-banner content="Contemporary Classics" id="Contemporary_Classics"></app-title-banner>
  
  <div *ngFor="let drink of drinks">
    <app-drink  
      *ngIf="drink.category === allCategories.CLASSIC"
      [drink] = drink>
    </app-drink>
  </div>
  
  
  <app-title-banner content="New Era Drinks" id="New_Era_Drinks"></app-title-banner>

  <div *ngFor="let drink of drinks">
    <app-drink  
      *ngIf="drink.category === allCategories.NEWERA"
      [drink] = drink>
    </app-drink>
  </div>


  <app-title-banner content="Non-IBA Specials" id="Non-IBA_Specials"></app-title-banner>

  <div *ngFor="let drink of drinks">
    <app-drink  
      *ngIf="drink.category === allCategories.NONIBA"
      [drink] = drink>
    </app-drink>
  </div>





</div>