<div class="front-title-container">
  <h1 class="front-title">Wilkommen auf der Getränkekarte von Tom</h1>
  <p class="front-description">Sieh dich ruhig ein wenig um. Im Normalfall kannst du alle der unten aufgeführten Gertränke bekommen.</p>
</div>

<nav class="front-navigation">
  <a href="#The_Unforgettables" class="navigation-button">The Unforgettables</a>
  <a href="#Contemporary_Classics" class="navigation-button">Contemporary Classics</a>
  <a href="#New_Era_Drinks" class="navigation-button">New Era Drinks</a>
  <a href="#Non-IBA_Specials" class="navigation-button">Non-IBA Specials</a>
</nav>

<div class="front-favourites">
  <h2 class="favourites-title">Toms Lieblinge</h2>
  <div class="favourites-slider">
    <div class="favourites-slides">
      <div *ngFor="let favourite of favourites">
        <img class="favourites-image" src="assets/{{favourite.name | lowercase}}.jpg" alt="">
        <p class="favourites-name">
          {{ favourite.name }}
        </p>
      </div>
    </div>
  </div>
</div>


